# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Go build
main
*.out
*.exe
*.test

# Logs
*.log

# Data
data/

# Node/React
web/node_modules/
web/build/
web/dist/
web/.DS_Store
web/.vscode/
web/.idea/
web/*.swp

# Backup
*~
*.bak

# Env
.env
web/.env 